---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FlipHeader from "../../components/FlipHeader.astro";
import LinkIconButton from "../../components/LinkIconButton.astro";
import SubHeader from "../../components/SubHeader.astro";
import ImageZoom from 'starlight-image-zoom/components/ImageZoom.astro';

interface Props {
  entry: CollectionEntry<"case-studies">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const caseStudies = await getCollection("case-studies");
  return caseStudies.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const background = entry.data.background ?? '';
---
<BaseLayout
title={"augmented.alex - " + entry.data.title}
description={entry.data.description}
>
  <ImageZoom />
    <main class:list={[{background: background}]}>
        <div class="header">
            <FlipHeader/>
            <SubHeader subheading={entry.data.title}>
                <LinkIconButton slot="left" reveal mono={!!background} label="back" icon="mdi:arrow-back" link="/case-studies"/>
                <LinkIconButton slot="right" reveal mono={!!background} label="home" icon="mdi:home" link="/"/>
            </SubHeader>
        </div>
        <div class="text-body">
            <hr class="divider"/>
            <div class="case-study-info">
                <!-- view icon link button -->
                { entry.data.viewLink ? <LinkIconButton small reveal above mono={!!background} label="view" icon="mdi:eye" link={entry.data.viewLink} external/> : <span class="small-spacer"></span> }
                <div class="tags">
                    {entry.data.status && <span class="tag status flex-center">{entry.data.status}</span>}
                    {entry.data.tags?.map((tag: any) => <span class="tag flex-center">{tag}</span>)}
                </div>
                <!-- code icon link button -->
                { entry.data.codeLink ? <LinkIconButton small reveal above mono={!!background} label="code" icon="mdi:code" link={entry.data.codeLink} external/> : <span class="small-spacer"></span> }
                { entry.data.designLink ? <LinkIconButton small reveal above mono={!!background} label="design" icon="mdi:design" link={entry.data.designLink} external/> : <span class="small-spacer"></span> }
            </div>
            <hr class="divider"/>
            <Content />
        </div>
      </div>
    </main>
</BaseLayout>

<style lang="scss" define:vars={{background}}>
  main.background {
    background: var(--background), rgba(var(--gray-999-rgb), 0.53);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
  main {
    padding: 1rem;
	}
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
	}
    .case-study-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: -1.5rem 1rem 0 1rem;
        .small-spacer {
            width: 47px;
            height: 71px;
            background: transparent;
            padding: var(--padding-x) var(--padding-y);
        }
    }
    .text-body { // TODO: rename class
        max-width: 700px;
        margin: auto;
    }
  .tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-600);
    // &::-webkit-scrollbar {
    //     height: 2px;
    //   }
    //   &::-webkit-scrollbar-track {
    //     background: transparent;
    //   }
    //   &::-webkit-scrollbar-thumb {
    //     background: var(--gray-600);
    //   }
    //   &::-webkit-scrollbar-thumb:hover {
    //     background: var(--gray-500);
    //   }
    .tag {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid rgba(var(--gray-0-rgb), 0.11);
          border-radius: 35px;
          padding: 0 0.75rem;
          white-space: nowrap;
          font-weight: 500;
          backdrop-filter: blur(3px);
          background-color: rgba(var(--gray-0-rgb), 0.11);
          &:hover,
          &:focus-visible {
            cursor: default;
            border: 2px solid rgba(var(--gray-0-rgb), 0.33);
          }
          &.status {
            color: var(--gray-999);
            background-color: var(--gray-200);
            border: 2px solid var(--gray-200);
            border-radius: 8px;
            font-weight: 500;
          }
        }
  }
  
</style>
